body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(220, 220, 220, 0.466);
    box-sizing: border-box;
}
.header-container input{
    border: solid 1px #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    font-size: auto;
   height: 100%;
    padding-left: 15px;
    border-radius:10px;
    width: 20%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
} 

.header-container{
    height: 35px;
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
}
.header-container button{
    display: block;
    background-color: rgba(220, 220, 220, 0.466);
    margin-left: 15px;
    height: 100%;
    width: fit-content;
}
ul {
    display: flex;
    list-style-type: none;
    width: 30%;
    min-width: fit-content;
    margin:2em auto;
    align-items:flex-start;
    flex-direction: column;
    padding: 0;

  }
  li{
    background-color: white;
    display: flex;
    height: 40px;
    flex-direction: row;
    align-items: center;
    width:100%;
    border:1px solid white;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.5);
  
  }

li button{
    display:inline-block;
    border: none;
    background-color: white;
    padding: 1px;
    min-width: fit-content;
}
header{
    font-weight: bold;
    font-size: 5em;
    margin:0.5em auto 0.5em;
}
li button:hover{
    background-color: aliceblue;
}
li > div{
    width:100%;
}