@keyframes slideInDown {
    from{
    transform: translateY(30px);
    opacity: 0;
    }
to{
    transform: translateY(0);
    opacity: 1;
}

}
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(220, 220, 220, 0.466);
    box-sizing: border-box;
}
.header-container{
    height: 35px;
    display: flex;
    flex-direction: row;
    animation: slideInDown 1s ease-out;
    justify-content: center;
    align-items: center;
}
.header-container input{
    border: solid 1px #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    font-size: auto;
   height: 100%;
    padding-left: 15px;
    border-radius:10px;
    width: 20%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
} 


.header-container button{
    display: block;
    background-color: white;
     border: solid 1px #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 0;
    margin-left: 15px;
    height: 35px;
    width: 35px;
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0.5s;
}
ul {
    display: flex;
    list-style-type: none;
    width: 30%;
    min-width: fit-content;
    margin:2em auto;
    align-items:flex-start;
    flex-direction: column;
    padding: 0;
    font-family: sans-serif;
  }
  li{
    background-color: white;
    display: flex;
    height: 40px;
    flex-direction: row;
    align-items: center;
    width:100%;
    border:1px solid white;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.5);
    /* transition: all 1s ease; */
    /* opacity: 1; */
  }

li button{
    display:inline-block;
    border: none;
    background-color: white;
    padding: 1px;
    min-width: fit-content;
}
header{
    font-weight: bold;
    font-size: 5em;
    margin:0.5em auto 0.5em;
}
li button:hover{
    background-color: aliceblue;
}
li > div{
    width:100%;
}

.show {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }
  .fade-enter {
    opacity: 0;
    transform: translateY(-10px);
  }

  .fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }
  .fade-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .fade-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 300ms, transform 300ms;
  }
  .fade-exit-done{
    opacity:0;
  }
